{% extends "index.html" %}
{% load static %}

{% block body %}

{% include "navbar.html" %}
<main class="bg-body-i-w">
    <h1>Itens</h1>
    <h2>Sala - C13</h2>

    <div class="search-container">
        <input type="text" placeholder="Buscar..."> 
        <button>
            <span class="material-symbols-outlined">
                edit
            </span>
        </button>
        <button>
            <span class="material-symbols-outlined">
                delete
            </span>
        </button>
        <button>
            <span class="material-symbols-outlined">
                filter_list
            </span>
        </button>
        <button class="add-button">
            <span class="material-symbols-outlined">
                add_circle
            </span> Adicionar
        </button>
    </div>

    <div class="items-container">
        <div class="item-card">
            <div class="bg-img">
                <img src="./img/macbook-air-space-gray-select-201810 1.png" alt="Computadores">
            </div>
            <div class="inf">
                <h3>Computadores</h3>
                <p>40 Notebooks</p>
            </div>
        </div>

        <div class="item-card">
            <div class="bg-img">
                <img src="./img/WhatsApp_Image_2024-08-08_at_7.37.52_AM-removebg-preview (1) 1.png" alt="Cadeiras">
            </div>
            <div class="inf">
                <h3>Cadeiras</h3>
                <p>40 Cadeiras</p>
            </div>
        </div>

        <div class="item-card">
            <div class="bg-img">
                <img src="./img/WhatsApp_Image_2024-08-08_at_7.37.53_AM-removebg-preview 2.png" alt="Mesas">
            </div>
            <div class="inf">
                <h3>Mesas</h3>
                <p>40 Mesas</p>
            </div>
        </div>

        <div class="item-card">
            <div class="bg-img">
                <img src="./img/WhatsApp_Image_2024-08-08_at_7.37.52_AM-removebg-preview (1) 1.png" alt="Cadeiras">
            </div>
            <div class="inf">
                <h3>Cadeiras</h3>
                <p>40 Cadeiras</p>
            </div>
        </div>

        <div class="item-card">
            <div class="bg-img">
                <img src="./img/WhatsApp_Image_2024-08-08_at_7.37.53_AM-removebg-preview 2.png" alt="Mesas">
            </div>
            <div class="inf">
                <h3>Mesas</h3>
                <p>40 Mesas</p>
            </div>
        </div>

        <div class="item-card">
            <div class="bg-img">
                <img src="./img/macbook-air-space-gray-select-201810 1.png" alt="Computadores">
            </div>
            <div class="inf">
                <h3>Computadores</h3>
                <p>40 Notebooks</p>
            </div>
        </div>
    </div>
</main>

{% endblock %}