

.bg-body-i-w{
    background-color: #fff;
    color: #333;
}

.logo img {
    height: 40px;
}


.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que os itens se movam para a linha abaixo em telas menores */
    margin: 20px 0;
    gap: 10px;
}

.search-container input[type="text"] {
    padding: 10px;
    width: 300px;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 1em;
}

.search-container button {
    background-color: #d32f2f;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container .add-button {
    border-radius: 25px;
    padding: 10px 20px;
    width: 170px;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.item-card {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 5px 5px 20px 0px rgba(133, 133, 133, 0.2) inset;
    width: 500px;
    height: 327px;
    gap: 0px;
    border-radius: 30px;
    opacity: 0px;
    align-items: center;
    justify-content: left;
    display: flex;
}

.bg-img{
    width: 250px;
    height: 280.69px;
    top: 282px;
    left: 23.15px;
    gap: 0px;
    border-radius: 55px 43px 34px 30px;
    opacity: 0px;
    background: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inf{
    margin-left: 20px;
}

.item-card img {
    max-width: 100%;
}

.item-card h3 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.item-card p {
    color: #666;
    margin-top: 5px;
}

.item-card:hover {
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    .search-container {
         /* Coloca os itens em uma coluna */
        gap: 15px;
    }

    .search-container input[type="text"] {
        width: 100%; /* Ocupa toda a largura disponível */
    }

    .search-container button {
        width: 40px;
        border-radius: 20px; /* Altera o formato dos botões para melhor adaptação */
        padding: 10px 0; /* Ajusta o padding para centralizar o texto */
    }

    .search-container .add-button {
        border-radius: 10px;
        width: 110px;
    }
}